<div style="text-align:center"><font size = "5">Different input method</div>

In [35]:
a = input()  # input from user in string format

a = a.split(sep=' ')  # split by space by default and return list of words

a = [int(i) for i in a]  # convert string to int

print(a)
type(a)

[1]

list

In [36]:
# optimised way to take input
a = [float(i) for i in input().split()]
print(a)
type(a)

[]

list

In [37]:
# other way to take input
a = list(map(int, input().split()))
print(a)

[]

<div style="text-align:center"><font size = "5"><b>Python<b></div>

### inbuilt datatypes:

1. <span style="color:blue">int </span> : 1,2,3,4,5,6,7
2. <span style="color:blue">float </span> : 1.0,2.0,3.0,4.0,5.0,6.0,7.0
3. <span style="color:blue">str </span> : '1','2','3','4','5','6','7' or "1","2","3","4","5","6","7"
4. <span style="color:blue">bool </span> : True or False
5. <span style="color:blue">list </span> : [1,2,3,4,5,6,7]
6. <span style="color:blue">tuple </span> : (1,2,3,4,5,6,7)
7. <span style="color:blue">set </span> : {1,2,3,4,5,6,7}
8. <span style="color:blue">dict </span> : {1:'a',2:'b',3:'c',4:'d',5:'e',6:'f',7:'g'}

### input method:

1. <span style="color:blue">input() </span> : it always returns a string. If you want a different type, then you have to mention it explicitly.

In [38]:
s = "Rahul's laptop"

# string slicing
s["start":"end":"steps"] # start is inclusive and end is exclusive and steps is optional
                         # default value of start is 0 and end is len(s) and steps is 1
                         # if steps is -ve then start should be greater than end

TypeError: slice indices must be integers or None or have an __index__ method

In [ ]:
s[2::2]  # start from 2nd index and take every 2nd character
s = "freeCodeCamp"
s[::-1] # reverse the string
s[5:3:-1]

'oC'

In [ ]:
# f-String
a = "Rahul"
b = "Sharma" 
c = 4

print(f"My name is {a.upper()} {b} and my roll number is {c * 6}")

My name is RAHUL Sharma and my roll number is 24

<div style="text-align:center"> <font size = "5"> <b>String</b> </div>

1. Strings are <span style="color:blue">immutable </span>
2. All string methods return the copies of the original strings.

In [ ]:
# <str_variable>.<method_name>(<arguments>)

s = " Rahul Sharma "
# print(s.lower())
# print(s.upper())
# s.find('k')
# s.istitle()
# print(s.lstrip())
# print(s.rstrip())
# print(s.strip())
len(s) # length of string

14

In [ ]:
l = sorted(s) # return list of sorted characters
l = "".join(l)
l.strip()

'RSaaahhlmru'

<div style = "text-align:center"><font size = "5"><b>List / []</b></div>

1. Lists are <span style="color:blue">mutable </span>
2. All list methods return the original list.
3. List can contain multiple datatypes values.

In [ ]:
l = [1, 2, 3, 4, 5]
len(l)
l[2] = 10
l.append(6)
l.remove(4)
l.extend([3, 4, 5])   # similar to l + [3, 4, 5]
l

[1, 2, 10, 5, 6, 3, 4, 5]

In [ ]:
l.insert(2, 10)  # insert 10 at index 2
l

[1, 2, 10, 10, 10, 5, 6, 3, 4, 5]

In [ ]:
l.pop()  # remove last element
l.index(10)  # return index of first occurence of 10

2

In [ ]:
l.count(10)  # return number of occurence of 10
l.sort()
l

[1, 2, 3, 4, 5, 6, 10, 10, 10]

<div style = "text-align:center"><font size = "5"><b>Tuple / ()</b></div>

1. tuple are <span style="color:blue">immutable </span>
2. All tuple methods return the copy list.
3. tuple can contain multiple datatypes values.

In [ ]:
t = (1, 2, 3, 'Rahul', 5.0, [1, 2, 3.0, 'R'])

1

1. We can't add, remove, update the values in tuple.

In [ ]:
# t.count(1)
t.index(3)

2

1. tuple assignment: We can assign multiple values to multiple variables in a single line.

In [ ]:
a, b = 2, 3
a, b

(2, 3)

In [ ]:
# swap two numbers
a, b = b, a

<div style = "text-align:center"><font size = "5"><b>Dictionary / {}</b></div>

1. {<span style= "color: orange">key:value</span> }pair.

2. key should be <span style= "color: blue"> unique</span> and <span style= "color: blue">immutable</span>

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
d['a']

1

In [ ]:
# to delete key-value pair
del d['a']

In [ ]:
d

{'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
# d.items()
# d.keys()
# d.values()
d.pop('e')

5

In [ ]:
d

{'b': 2, 'c': 3, 'd': 4}

In [ ]:
d.popitem()  # remove last key-value pair

('d', 4)

In [ ]:
d

{'b': 2, 'c': 3}

In [ ]:
d.setdefault('a', 10)  # if key is present then return value else set default value

10

In [ ]:
d

{'b': 2, 'c': 3, 'a': 10}

In [ ]:
d.update({'a': 10, 'b': 20, 'c': 30}) # update the dictionary

In [ ]:
d

{'b': 20, 'c': 30, 'a': 10}

In [ ]:
d.clear()  # clear the dictionary
d

{}

<div style = "text-align:center"><font size = "5"><b>Python Operator</b></div>

In [ ]:
#  '/' -> float division
#  '//' -> integer division
# string * int -> repeat the string int times
# string comparison -> compare character by character based on ASCII value

<div style = "text-align:center"><font size = "5"><b>Comparison Operator Chaining</b></div>

In [ ]:
#  a < b < c  # a < b and b < c
# a < b > c  # a < b and b > c
# and, or, not # logical operators

<div style = "text-align:center"><font size = "5"><b>Membership Operator</b></div>

In [ ]:
# "in", "not in"  membership operators

In [ ]:
5 in [1, 2, 3, 4, 5]

True

In [ ]:
# if:
#     statement
# elif:
#     statement
# else:
#     statement
    
# if-else in one line
a = 10
b = 20

print("a is greater") if a > b else print("b is greater") # ternary operator

# true_value if condition else false_value

# () ? true_value : false_value # ternary operator in C/C++

In [ ]:
for i in range(1, 11): # range(start, end, steps)
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
l = [1, 2, 3, 4, 5]
for i in range(len(l)):
    print(l[i], end=" ")

1 2 3 4 5

In [ ]:
for i in range(len(l) - 1, 1, -1):
    print(l[i], end=" ")

5 4 3

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

# for key, val in zip(d.keys(), d.values()):
#     print(key, val, end=" ")

# print()
# for key, val in d.items():
#     print(key, val, end = " ")
    
# print()

for key in d.items():
    print(key, end=" ")

a 1 b 2 c 3 d 4 e 5
a 1 b 2 c 3 d 4 e 5
('a', 1) ('b', 2) ('c', 3) ('d', 4) ('e', 5)

In [ ]:
l1 = [1, 2, 3, 4, 5]
l2 = [10, 20, 30, 40, 50, 60]
l3 = [100, 200, 300, 400, 500, 600, 700]

for i in zip(l1, l2, l3):  # zip return list of tuples of same index elements
    print(i, end=" ")

print()
l = zip(l1, l2, l3)
print(list(l))
# print(tuple(l))

(1, 10, 100) (2, 20, 200) (3, 30, 300) (4, 40, 400) (5, 50, 500)
[(1, 10, 100), (2, 20, 200), (3, 30, 300), (4, 40, 400), (5, 50, 500)]
()

In [33]:
l = [1, 2, 3, 4, 5]

for i, ele in enumerate(l):
    print(i, ele, end="\n")

0 1
1 2
2 3
3 4
4 5

In [5]:
%pip install sci-kit learn

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sci-kit (from versions: none)
ERROR: No matching distribution found for sci-kit

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
from sklearn.utils import Bunch

d = Bunch(a=1, b=2, c=3, d=4, e=5)
d.keys()
d['a']
d.a

1

In [2]:
import pandas as pd

In [4]:
s = pd.Series([1, 2, 3, 4, 5])

In [5]:
s.shape  #return tuple which contain number of rows and columns

(5,)

In [ ]:
data.describe()  # return statistical information about data

In [1]:
import pandas as pd

In [9]:
df = pd.DataFrame({'A': [1, 2, 3, 5], 'B': [4, 5, 6, 7], 'C': [7, 8, 9, 1]})

In [10]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
3  5  7  1

In [11]:
for col_label in df:
    print(df[col_label])

0    1
1    2
2    3
3    5
Name: A, dtype: int64
0    4
1    5
2    6
3    7
Name: B, dtype: int64
0    7
1    8
2    9
3    1
Name: C, dtype: int64

In [24]:
ser = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5})
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [26]:
for index, row in df.iterrows():
    print(f"Index: {index}")
    print(f"Row: \n{row}")    # row is a series object and index is a string object
        # row['A'] = row.A
        # here index is column label and row.A is value of that column

Index: 0
Row:
A    1
B    4
C    7
Name: 0, dtype: int64
1
Index: 1
Row:
A    2
B    5
C    8
Name: 1, dtype: int64
2
Index: 2
Row:
A    3
B    6
C    9
Name: 2, dtype: int64
3
Index: 3
Row:
A    5
B    7
C    1
Name: 3, dtype: int64
5

In [27]:
for row in df.itertuples():
    print(row)

Pandas(Index=0, A=1, B=4, C=7)
Pandas(Index=1, A=2, B=5, C=8)
Pandas(Index=2, A=3, B=6, C=9)
Pandas(Index=3, A=5, B=7, C=1)